:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #cccccc;
  --palette-01: #40513b;
  --palette-02: #507551;
  --palette-03: #609966;
  --palette-04: #9dc08b;
  --palette-05: #edf1d6;
  --gray-01: #b9b9b9;
  --gray-02: #929292;
  --gray-03: #535353;
}
